.cadastro-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    /* background-color: aquamarine; */
    margin-top: 30px;
}

.cadastro-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    height: 75px;
}

.cadastro-input-items{
    width: 50%;
    height: 70px;
}

.cadastro-btn{
    margin-top: 10px;
}