.input-login-container {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 290px;
    background-color: #f0f0f0;
    padding-left: 15px;
    margin: 10px;
}

.input-login-style {
    height: 25px;
    width: 80%;
    margin-left: 10px;
    border: none;
    background-color: var(--color-backg-login);
    padding-left: 5px;
    outline-color:#868686;  /*linha que contorna o input ao clicar nele */   
} 

.input-login-style:focus {
    background-color: #e7e7e7;
}