.button-login-style {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
}

.button-login-style:active {
    box-shadow:
        2px 2px 3px #00000058,
        -2px -2px 3px #ffffff58;
}