.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 270px;
    height: 50px;
    background: var(--color-backg-default);
    padding: 0.5rem;
}